<html>
  <head>
        <meta charset="utf-8">
        <title>Radical Tree Plot</title>
<style>

.node circle {
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #CCC;
  stroke-width: 2.5px;
  opacity: .7
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}

#tooltip h4{
  margin:0;
  font-size:14px;
}

#tooltip{
  background:white;
  border:1px solid grey;
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}

#tooltip table{
  table-layout:fixed;
}

#tooltip tr td{
  padding:0;
  margin:0;
}

#tooltip tr td:nth-child(1){
  width:50px;
}

#tooltip tr td:nth-child(2){
  text-align:center;
}

</style>
  </head>
<body>
  <div style="font-size: 30pt; color: #000000">Interactive Radical Tree Plot for Robust Corrosion Assessment</div>
  <div id="tooltip"></div>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script>

      var diameter = 2000;

      var tree = d3.layout.tree()
          .size([360, diameter / 2 - 190])
          .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

      var diagonal = d3.svg.diagonal.radial()
          .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

      var svg = d3.select("body").append("svg")
          .attr("width", diameter + 20)
          .attr("height", diameter + 20)
          .style({"background":"#FFFFFC"})
        .append("g")
          .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

      var over = 0;
      var circleradius = [3, 6];
      var circlecolor = ["0000FF", "FF0000", "00CC00", "FF6600", "663300", "000000"];

      function tooltipHtml(d){	/* function to create html content string in tooltip div. */
        return "<table>"+
          "<tr><td>B117</td><td>"+(d.value[0])+"/"+(d.value[1])+"</td></tr>"+
          "<tr><td>Cyclic</td><td>"+(d.value[2])+ "/"+(d.value[3])+"</td></tr>"+
          "</table>";
      }

      var data = '{{variable|tojson}}';
      var root = JSON.parse(data);
      var nodes = tree.nodes(root);
      var links = tree.links(nodes);
      var maxLabelLength = 0

      var link = svg.selectAll(".link")
        .data(links)
        .enter()
        .append("path")
        .attr("class", "link")
        .attr("d", diagonal);

      var node = svg.selectAll(".node")
        .data(nodes)
        .enter()
        .append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
        .on("mouseover", mouseover)
        .on("mouseout", mouseout);

        function maxwidth(parent, visitFn, childrenFn) {
            if (!parent) return;

            visitFn(parent);

            var children = childrenFn(parent);
            if (children) {
                var count = children.length;
                for (var i = 0; i < count; i++) {
                    maxwidth(children[i], visitFn, childrenFn);
                }
            }
        }

        maxwidth(root, function(d) {
            maxLabelLength = Math.max(d.name.length, maxLabelLength);

        }, function(d) {
            return d.children && d.children.length > 0 ? d.children : null;
        });

        console.log(maxLabelLength)

      function visit(d){
        var quene = [];
        d.highlight = 1;
        quene.push(d)
        while(quene.length != 0){
          cur = quene.pop()
          if(typeof(cur.children) == "undefined"){
            continue;
          }
          else{
            for(child in cur.children){
                quene.push(cur.children[child]);
                cur.children[child].highlight = 1;
            }
          }
        }
      }

      function reset(d){
        var quene = [];
        d.highlight = 0;
        quene.push(d)
        while(quene.length != 0){
          cur = quene.pop()
          if(typeof(cur.children) == "undefined"){
            continue;
          }
          else{
            for(child in cur.children){
                quene.push(cur.children[child]);
                cur.children[child].highlight = 0;
            }
          }
        }
      }

      function colorNode(d){
        var depth = d3.select(d).data()[0].depth
        d3.select(d).select("circle").attr("r", 4.5)
                                     .style({"fill": circlecolor[depth],
                                             "stroke": circlecolor[depth],
                                             "stroke": "1.5px"})
        d3.select(d).select("text").style({"font-size": "12px",
                                           "fill": circlecolor[depth],
                                           "opacity": 1,
                                           "font-weight": "normal"})
                                   .text(function(d) {
                                     text = d.name + " (" + d.value[4] + ")";
                                     return text
                                   })
      }


      function highlight(d){
        var node = d3.select(d).data()[0]
        var depth = d3.select(d).data()[0].depth
        var flag = (node.highlight!="undefined" && node.highlight==1) ? 1 : 0
        d3.select(d).select("circle").attr("r", circleradius[flag])
                                     .style({"fill": (flag==1)?circlecolor[depth] : "C0C0C0",
                                             "stroke": (flag==1)?circlecolor[depth] : "C0C0C0",
                                             "stroke": "1.5px"});
        d3.select(d).select("text").style({"font-size": (flag==1)? "12px" : "8px",
                                           "fill": (flag==1)?circlecolor[depth] : "C0C0C0",
                                           "opacity": (flag==1)? 1 : .5,
                                           "font-weight": (flag==1)? "bold" : "normal"})
                                   .text(function(d) {
                                     if(flag==1){
                                       text = d.name + "(" + d.value[4] + "/" + d.value[5] + ")";
                                       return text
                                     }else{
                                       text = d.name + "(" + d.value[4] + ")";
                                       return text
                                     }
                                   })

      }


      function update(){
        var node = svg.selectAll(".node")
        node.append("circle").attr("class", "circle")
        node.append("text").attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
                           .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
        node[0].forEach(function(d){
          if(over==0){
            colorNode(d);
            // d3.select(d).data()[0].y = (d3.select(d).data()[0].depth * (maxLabelLength * 10));
          }
          else{
            highlight(d);
            // d3.select(d).data()[0].y = (d3.select(d).data()[0].depth * (maxLabelLength * 50));
          }
        });
        // node.attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
      }

      update()

      function mouseout(d){
        d3.select("#tooltip").transition().duration(200).style("opacity", 0);
        over = 0
        reset(d)
        update(root)
      }

      function mouseover(d){
        over = 1;
        visit(d)
        update(root)
        d3.select("#tooltip").transition().duration(200).style("opacity", .9);
        d3.select("#tooltip").html(tooltipHtml(d))
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 28) + "px");
      }
      </script>

    </body>
</html>
